body {
    background-color: #fefefe;
    width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
}

h1{
    color: #061761;
    background-color: #acafd4;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}

h2 {
    color: #061761;
    background-color: #b6b6b6;
    font-size: 23px;
    padding: 5px;
    border-bottom: 2px solid;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
}

li {
    list-style: inside;
}

a {
    color: #002fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.center {
    text-align: center;
}

.subtitule{
    margin-top: 0;
    background-color: #c6c8e8;
}

.menu {
    text-align: center;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.menu a {
    background-color: #c1bebe;
    padding: 16px;
    display: block;
}

.menu a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}




